body {
  max-width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  background: url("../images/concrete_seamless.png");
}

/*Main section styles (center contenr)*/
.main-content .social {
  width: 15%;
  height: 15%;
}

.about {
  border-color:#4aaaa5;
  border-style:outset;
  border-width:10px;

  /*The about container, throw in some styles for it*/
}

.connect{
  padding-right:200px;
  padding:20px;
  width:600px;
  margin-left:20px;
  


  /*changes the images, I liked it how it was*/
  /*The connect container throw in some styles for it*/
}

.me-img {
  float: left;
  margin: 10px;
}

/*Nav bar Styles*/
.navbar {
  max-width:100%;
  padding:30px;
  background:#4aaaa5;
  

}

.navbar .navbar-brand {
  padding-top:25px;
  color:white;
  background:#4aaaa5;
  font-size: 40px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.navbar a {

color:#666;

 background-color:#4aaaa5;
 padding-right: 50%;
  
}


/*Footer Styles*/
#footer{
  margin-top: 30px;
  position:static;
  border-top: 8px solid #4aaaa5;
  font-size: 12px;
  width: 100%;
  height: 140px;
  background-color: #666;
}
footer p { 
  color:white;
  text-align: center;
  padding:20px;
}


section{
margin:0 auto;
padding:100px;
}
.container{

  padding:20px;

}
h1,h2,h3{
font-family: 'Permanent Marker', cursive;
color:#4aaaa5;
}

form{
  width:800px;
  height:400px;
  padding:20px;
  border-color:#4aaaa5;
  border-style:outset;
  border-width:10px;
  

}
ul{
  width:px;
  height:px;
  background-color: #4aaaa5;
  padding:20px;
  
}

#message{
  padding:50px;
  width:400px;
  height:200px;
}
